<h1>Songs</h1>

<table>
  <tbody>
    <% @songs.each do |s|%>
    <tr><%=s.title%></tr>

    <%end%>
  </tbody>
</table>

<% @songs.each do |song| %>
<div class="song">
  <span><%=song.title %></span>
  <%= link_to "Edit", edit_song_path(song) %>
  <span>|</span>
  <%= link_to "Delete", song, confirm: "Really?", :method => :delete %>
</div>

<% end %>
