<h1>Song Info</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Release Year</th>
    <th>Artist</th>
    <th>Genre</th>
  </tr>
  <tr>
    <td><%= @song.title %></td>
    <td><%= @song.release_year %></td>
    <td><%= @song.artist_name %></td>
    <td><%= @song.genre %></td>
  </tr>




</table>